.devtools {
  .error-tbl {
    .logtime-td {
      width: 120px;
    }
    .title-td {
      width: 150px;
    }
    .msg-td {
      width: 200px;
    }
    .c1-td {
      width: 400px;
    }
    .province-name-td {
      width: 60px;
    }
  }
}