.fl {
  float: left;
}
.fr {
  float: right;
}
/* switch 组件样式 */
.mui-switch {
  width: 52px;
  height: 20px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  padding: 0;
}

.mui-switch:before {
  content: '';
  width: 29px;
  height: 18px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked {
  border-color: #64bd63;
  box-shadow: #64bd63 0 0 0 16px inset;
  background-color: #64bd63;
}

.mui-switch:checked:before {
  left: 21px;
}

.mui-switch.mui-switch-animbg {
  transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:before {
  transition: left 0.3s;
}

.mui-switch.mui-switch-animbg:checked {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: #64bd63;
  transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:checked:before {
  transition: left 0.3s;
}

.mui-switch.mui-switch-anim {
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
  transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
  box-shadow: #64bd63 0 0 0 16px inset;
  background-color: #64bd63;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
  transition: left 0.3s;
}
/* button 组件样式 */
button {
  background-color: #0088fe;
  color: #fff;
  font-size: 10px;
  padding: 5px 7px;
  display: inline-block;
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid transparent;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimHei, WenQuanYi Micro Hei, sans-serif;
  border-radius: 2px;
}
input {
  border-radius: 0;
  height: 100%;
  padding: 5px 10px;
  border: 1px solid #b4c8d8;
}
input:focus {
  border: 1px solid #0088fe;
}
textarea {
  border: 1px solid #b4c8d8;
  padding: 8px 10px;
  border-radius: 0;
}

